

.bannertable{
    background-color: lightslategray;
    width: 100%;
}

.bannerlogo{
  height: 100%;
}

.banner{
    width: 100%;
}

.bannerlogoimg{
    height: 50px;
}

.bannertitle{
    width: 50%;
}


