

.bannertable{
    background-color: lightslategray;
}

.bannerlogo{
  height: 100%;
}


.bannerlogoimg{
    height: 50px;
}

.bannertitle{
    width: 30%;
}

.cart{
    width:10%
    
}
.cartimg{
    width: 20%;
}

.search{
    width: 15%;
    text-align: right;
}

