.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
}
.card-grid{
    height: 400px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 10px;
    flex-basis: calc(20% - 22px);

    & h3{
        color: black;
        font-size: 1em;
    }

    .image{
        height: 200px;
    }
}


@media screen and (max-width: 800px) {
    .grid{        
        display: grid;
		grid-template-columns: repeat(2, 1fr);
        object-fit: cover;        
		gap: 20px;
        padding: 10px;
    }

    .card-grid{
        margin: 2px;
    }
}

@media screen and (max-width: 500px) {
    
    .grid{        
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    object-fit: cover; 		
    
    }

}