.gridProducts{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
}


@media screen and (max-width: 800px) {
    .gridProducts{
        
        display: grid;
		grid-template-columns: repeat(2, 1fr);
        object-fit: cover;
		gap: 20px;
        padding: 10px;
    }
}