.nav {
  width: 100vw;
  display: flex;
  position: fixed;
  z-index: 10;
  padding-top: 1vh;
  background-color: #f8f9fa;
  box-shadow: 0 2px 8px rgba(109, 104, 117, 0.4);
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 1rem;
}

.logo i {
  margin: 0 5px;
}

.navItems {
  width: 90vw;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.search {
  font-size: 1.1rem;
  padding: 0.6rem 1rem;
  width: 50vw;
  border: none;
  border-radius: 1ex;
  background: #dee2e6;
}

.search:focus-visible {
  outline: none;
  box-shadow: none;
  background-color: #ced4da;
}

.nav button {
  all: unset;
  cursor: pointer;
  margin: 0 2vw;
}

button:hover,
.logo:hover {
  opacity: 0.9;
  color: #6d6875;
  -webkit-text-fill-color: #6d6875;
}

.btn {
  font-size: 1.3rem;
}

@media only screen and (max-width: 768px) {
  .logo h3 {
    display: none;
  }

  .navItems {
    width: 95vw;
  }
}
