.slider {
  position: relative;
  margin: auto;
  overflow: hidden;
  height: 80vh;
}

.item {
  display: none;
}

.itemActive {
  display: block;
}

.slider img {
  min-width: 100vw;
  float: left;
}

.dots {
  text-align: center;
  margin-top: 2vh;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #adb5bd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #6d6875;
}

.sliderEffect {
  -webkit-animation: sliderEffect 0.9s ease-in-out both;
  animation: sliderEffect 0.9s ease-in-out both;
}

@-webkit-keyframes sliderEffect {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sliderEffect {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
