.header {
    min-height: 90px;
    background-color: #001;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 720px) {
        height: 150px;
        padding: 2rem 1rem;
    }
    &Logo {
        cursor: pointer;
        @media (max-width: 720px) {
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }
    }
    ul {
        display: flex;
        align-items: center;
        @media (max-width: 720px) {
            width: 100%;
            justify-content: space-between;
        }
        li {
            margin-left: 2rem;
            @media (max-width: 720px) {
                margin-left: 0;
            }
        }
    }
    &Search {
        background-color: #FFF;
        position: relative;
        padding: 8px 4px 4px 8px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        min-width: 300px;
        @media (max-width: 720px) {
            width: 88%;
        }
        input {
            border: none;
            outline: none;
            font-family: inherit;
            font-size: 16px;
            width: 100%;
            padding-left: 0.5rem;
            &::placeholder {
                color: #797d81;
            }
        }
    }
    &IconSearch {
        color: #797d81;
        font-size: 24px;
    }
    &IconShop {
        color: #FFAC12;
        font-size: 28px;
        display: flex;
        cursor: pointer;
    }
}