.carousel{
    margin: auto;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;

    .image{
        min-width: 50%;
        transition: .3s ease all;
        box-shadow: 5px 5px 10px rgba(0,0,0, .3);
        width: 100%;
        vertical-align: top;        
        &:hover{
            transform: scale(1.1);
            transform-origin: center;
        }
    }
}



@media screen and (max-width: 800px) {
    .carousel{
        overflow: visible;
        display: grid;
        max-width: 100%;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
        padding: 10px;

        .image{
            min-width: 50%;
            transition: .3s ease all;
            box-shadow: 2px 2px 20px rgba(0,0,0, .3);
            width: 100%;
            vertical-align: top;
            &:hover{                
                cursor: pointer;
            }
            
        }
    }
}