.sidebar{
    
    background-color: white;    

    width: 200px;
    position: relative;
    float: none;
    
    padding: 20px;

    .list{
        list-style: none; 
        list-style-type: none;
        padding: 0;
        margin: 0;       
    }

    .elements{
        display: inline-flex;
        padding: .1875rem .5rem;
        margin-top: 17px;
        margin-left: 2px;
        color: lightgrey;
        text-decoration: none;
        cursor: pointer;

        &:hover{
            background-color: #EAEDED;
            border-radius: 5px;
        }

        &.active{
            color: black;
        }
    }
}

@media screen and (max-width: 500px) {
    
    .sidebar{        
    
        position: relative;
        width: 91%;

        .list{
            display: flex;            
        }
        
    }
    

}

@media screen and (max-width: 400px) {
    
    .sidebar{        
    
        position: relative;
        width: 88%;

        .list{
            display: block;            
        }
    
    
    }
    

}