@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 6rem;
}

footer {
  height: 3rem;
}

main {
  flex: 1;
}

::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 0 2px 4px rgba(109, 104, 117, 0.4);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6d6875;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6d6875;
}
