.Slider {
    max-width: 750px;
    position: relative;
    text-align: center;
}

.containers img {
    max-width: 700px;
}

.back, .forward {
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    border-radius: 0 5px 5px 0;
    background-color: black;
}
  
.forward {
    right: 0;
    border-radius: 4px 0 0 4px;
}

.back {
    left: 0px;
}

.Info {
    background-color: black;
    color: #e3e3e3;
    font-size: 16px;
    padding: 10px 14px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.dots-slider {
    text-align: center;
}

.dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: #acc;
    border-radius: 50%;
    display: inline-block;
}